

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
@font-face {
    font-family: Miama;
    src: url("fonts/Miama.woff");
}
.shape{
    font-family: Miama;
    font-weight: 400;
    font-size: 125px;
    line-height: 43.2px;
    font-style: italic;
}
.homepage{
    background-color: black; 

} 

/* shared styles */
.display-flex{
    display: flex;
}
/* header styles */
.home{
    background-color: rgba(239, 71, 10, 0.944);
    border-radius: 46px;
    padding: 8px 20px;
}
.nav-item{
    list-style: none;
    margin-right: 55px;
    
}
.nav-links{
    padding: 4px;
    border: 0.001px solid rgb(44, 44, 44);
    border-radius: 40px;
    align-items: center;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    color: white;
}
.navber p{
    color: rgba(239, 71, 10, 0.944);
    font-size: 58px;
    font-weight: 900;
    font-style: italic;

}
.navber{
   justify-content: space-between;
   align-items: center;
   max-width: 1060px;
   margin: 0 auto;
    
}
.navber i{
    display: none;
    color: white;

}

/* banner styles */
.banner{
    justify-content: space-between;
    align-items: center;
    max-width: 1060px;
    margin: 0 auto;
    margin-top: -10px;
}
.inside{
    display: flex;
    margin-top: -8px;
    width: 100%;
    height: 580px;
}
.left{
    width: 50%;
}

.left h5{
    color: white;
    font-size: 78px;
    font-weight: 900;
    line-height: 73.2px;
    margin-top: 105px;
}
.left p{
    color:rgba(255, 255, 255, 0.50);
    font-size: 16px;
    margin-top: -75px;

}
.right{
    width: 50%;
}
.right img{
    width: 350px;
    height: 580px;
    margin-left: 140px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.button{
    display: flex;
    gap: 10px;
    margin-left: -39px;
    margin-top: 35px;
}
.button-1{
    padding: 14px 38px;
    width: 180px;
    background-color:  rgba(239, 71, 10, 0.944);
    text-align: center;
    border-radius: 42px;
}
.join{
    color: white;
}
.button-2{
    padding: 14px 38px;
    width: 180px;
    text-align: center;
    border-radius: 42px;
    border: 1px  solid rgb(44, 44, 44);
}
.download{
    color: white;
}

.video-1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background-color: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    width: 194px;
    height: 86px;
    margin-top: -152px;
    margin-left: 44px;
}
.video-1 i{
    color: white;
    position: absolute;
    margin-left: -105px;
    margin-top: -1.5px;
}
.circle{
    border: 1px solid rgba(239, 71, 10, 0.944)e;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color:  rgba(239, 71, 10, 0.944);
    position: relative;
}
.tutorial p{
    color: rgba(255, 255, 255, 0.50);
    font-size: 16px;
    font-weight: 400;
    margin-top: -25px;
    margin-left: -4px;
}
.tutorial h4{
    color: white;
    font-size: 24px;
    font-weight: 900;
    margin-top: 12px;
    margin-left: -4px;
}
.video-2{
    border: 1px solid rgba(255, 255, 255, 0.10);
    background-color: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    width: 194px;
    height: 86px;
    margin-top: -370px;
    margin-left: 380px;
}
.video-2 h4{
    color: white;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 1px;
    margin-top: 11px;
    margin-left: 25px;
}
.video-2 p{
    color: rgba(255, 255, 255, 0.50);
    font-size: 16px;
    font-weight: 400;
    margin-top: -52px;
    margin-left: 25px;
}

/* part-2 styles start  */
.part-2{
    justify-content: center;
    align-items: center;
    max-width: 1060px;
    margin: 0 auto;
    margin-top: 100px;
}
.part-2 h3{
    text-align: center;
    color: white;
    font-size: 48px;
    font-weight: 900;
}
.part-2 p{
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    margin-top: -30px;
}
.four-img{
    max-width: 1060px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    gap: 30px;
    margin-top: 25px;
}
.images{
    padding: 15px;
}
.images img{
    width: 158px;
    height: 158px;
    border-radius: 60%;
    border: 2px solid rgba(253, 250, 250, 0.5);
    margin-left: 20px;
}
.images h3{
    color: white ;
    text-align: center;
}
.images p{
    color:  rgba(255, 255, 255, 0.50);
    text-align: center;
}

/* part-3 styles start */

.extra{
    justify-content: center;
    align-items: center;
    max-width: 1060px;
    margin: 0 auto;
    margin-top: 100px;
}
.third-part{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 95px;
    background-color: #222;
    padding: 32px 34px 30px 58px;
    justify-content: space-between;
}
.left-side h3{
    color: white;
    font-size: 48px;
    font-weight: 900;
    margin-top: -30px;
}
.left-side p{
    color:  rgba(255, 255, 255, 0.50);
    margin-top: -25px;
}

.right-side img{
    width: 100%;
    border-radius: 18px;
}
/* training section styles start */

.text{
    max-width: 1060px;
    margin: 0 auto;
    margin-top: 100px;
}
.text h3{
    color: white;
    font-size: 48px;
    font-weight: 900;
}
.text p{
    color:  rgba(255, 255, 255, 0.50);
    width: 550px;
    margin-top: -30px;
}
.img-part{
    max-width: 1060px;
    margin: 0 auto;
    margin-top: 60px;
    /* display: grid;
    grid-template-columns: repeat(3,1fr); */
}
.img-part img{
    width: 100%;
    height: 100%;
} 
.row-1{
    display: flex;
    
}

.img-1{
    width: 26%;
    height: 0 auto;
    position: relative;
}
.absolute1{
    position: absolute;
    color: black;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    margin-top: -68px;
    margin-left: 18px;
}
.img-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.gradient{
    width: 100%;
    height: 100%;
    background-image: 
        linear-gradient(0deg, rgba(6, 255, 210, 0.5)0%, rgba(6, 255, 210, 0.50) 100%);
    position: absolute;
    top: 0;
    left: 0;
    
}
.img-2{
    width: 45%;
    height: 0 auto;
    position: relative;
}
.img-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.gradient1{
    width: 100%;
    height: 100%;
    background-image: 
     linear-gradient(0deg, rgba(255, 0, 0, 0.30) 0%, rgba(255, 0, 0, 0.30) 100%);
    position: absolute;
    top: 0;
    left: 0;
    
}
.absolute2{
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    margin-top: -245px;
    margin-left: 28px;
}
.img-3{
    width: 29%;
    height: 0 auto;
    position: relative;
}
.img-3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.gradient2{
    width: 100%;
    height: 100%;
    background-image: 
     linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%);
    position: absolute;
    top: 0;
    left: 0;
    
}
.absolute3{
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    margin-top: -70px;
    margin-left: 20px;
}
.row-2{
    display: flex;
}
.img-4{
    width: 40%;
    height: 0 auto;
    position: relative;
}
.img-4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.gradient3{
    width: 100%;
    height: 100%;
    background-image: 
     linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%);
    position: absolute;
    top: 0;
    left: 0;
    
}
.absolute4{
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    margin-top: -230px;
    margin-left: 265px;
}
.img-5{
    width: 28%;
    height: 0 auto;
    position: relative;
}
.img-5 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.gradient4{
    width: 100%;
    height: 100%;
    background-image: 
     linear-gradient(0deg, rgba(66, 255, 0, 0.30) 0%, rgba(66, 255, 0, 0.30) 100%);
    position: absolute;
    top: 0;
    left: 0;
    
}
.absolute5{
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-top: -70px;
    margin-left: 20px;
}
.img-6{
    width: 32%;
    height: 0 auto;
    position: relative;
}
.img-6 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.gradient5{
    width: 100%;
    height: 100%;
    background-image: 
     linear-gradient(0deg, rgba(0, 71, 255, 0.30) 0%, rgba(0, 71, 255, 0.30) 100%);
    position: absolute;
    top: 0;
    left: 0;
    
}
.absolute6{
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-top: -70px;
    margin-left: 20px;
}

/* bmi calculator styles start */

.calculator{ 
    max-width: 1060px;
    margin: 0 auto;
    margin-top: 90px;
  
}
.calculator h3{
    color: white;
    font-size: 48px;
    font-weight: 900;
    margin-left: 230px;
}
.calculator p{
    color: rgba(255, 255, 255, 0.50);
    width: 480px;
    margin-top: -35px;
    margin-left: 230px;
}
.BMI-calculator{
    background-color: rgba(255, 255, 255, 0.10);
    
}
.challange{
    justify-content: center;
    align-items: center;
    max-width: 1060px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    gap: 160px;
   
}

.chart h3{
    color: white;
    font-size: 30px;
    font-weight: 500;
    margin-top: -60px;
}
table{
    border-collapse: collapse;
}
th{
    color: white;
    font-size: 18px;
    font-weight: 400;
    border: 0.1px solid rgba(255, 255, 255, 0.10);
    padding-top: 8px;
    padding-bottom: 8px; 
}
td{
    color: rgba(255, 255, 255, 0.50);
}
table{
    width: 330px;
    
}

td{
    border: 0.1px solid rgba(255, 255, 255, 0.10);
    padding-left: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.bmi_cal h3{
    color: white;
    font-size: 30px;
    font-weight: 500;
}
.bmi_cal p{
    color: rgba(255, 255, 255, 0.50);
    margin-top: -25px;
}

.row1{
    display: flex;
    gap: 10px;
    margin-top: 25px;
}
.row2{
    display: flex;
    gap: 10px;
    
}


.row3{
    width: 96%;
    position: relative;
}
i{
    position: absolute;
    color: rgba(255, 255, 255, 0.50);
    margin-left: 545px;
    margin-top: -28px;
}
.input4{
    position: relative;
}
.input4 i{
    position: absolute;
    color: white;
}
input{
    width: 100%;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.50);
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.10);
}
.btn-cal{
    margin-top: 20px;
    margin-bottom: 35px;
}
.button-3{
    padding: 14px 38px;
    width: 180px;
    background-color:  rgba(239, 71, 10, 0.944);
    text-align: center;
    border-radius: 42px;
}

/* team styliny start */
.our-team{
    justify-content: center;
    align-items: center;
    max-width: 1060px;
    margin: 0 auto;
    margin-top: 100px;
}
.meet{
    text-align: center;
}
.meet h3{
    color: white;
    font-size: 48px;
    font-weight: 900;
}
.meet p{
    color: rgba(255, 255, 255, 0.50);
    width: 400px;
    margin: 0 auto;
    margin-top: -35px;
}
.box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 22px;
    padding: 20px;
    border-radius: 13px;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.10);
}
.box img{
    width: 100%;
    height: 100%;
    opacity: 0.8;
    border-radius: 18px;
    position: relative;
}

.absolute{
    position: absolute;
    margin-top: -100px;
    margin-left: 15px;
}
.absolute h3{
    color: white;
    font-size: 22px;
    font-weight: 600;
    z-index: 1;
}
.absolute p{
    color: rgba(255, 255, 255, 0.50);
    font-weight: 400;
    z-index: 1;
    margin-top: -20px;
}

/* footer styles start */

.footer-area{
    background-color: rgba(255, 255, 255, 0.10);
}
.conclution{
    max-width: 1060px;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.start-part{
    width: 500px;
}
.start-part h3{
    color: rgba(239, 71, 10, 0.944);
    font-size: 58px;
    font-weight: 1200;
    margin-top: 25px;
    font-style: italic;
}
.start-part p{
    color: rgba(255, 255, 255, 0.50);
    margin-top: -30px;
    
}
.middle-part{
    width: 150px;
}
.middle-part h3{
    color: white;
    font-size: 26px;
    font-weight: 800;
}
.middle-part li{
    list-style: none;
    padding: 8px;
    margin-left: -45px;
    font-size: 18px;
    font-weight: 400;
}
.middle-part a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.50);
}
.last-part{
    width: 150px;
}
.last-part h3{
    color: white;
    font-size: 26px;
    font-weight: 800;
}
.last-part li{
    list-style: none;
    padding: 8px;
    margin-left: -45px;
    font-size: 18px;
    font-weight: 400;
}
.last-part a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.50);
}

.bottom{
    max-width: 1060px;
    margin: 0 auto;
    text-align: center;
    border-top: 0.5px solid rgba(76, 74, 74, 0.6);
}
.bottom p{
    color: rgba(255, 255, 255, 0.50);
    padding: 16px;
    margin-top: -5px;
}
/* responsive style */
@media screen and (max-width: 425px){
    .nav-links {
        display: none;
    }
    .navber i{
        display: block;
        font-size: 20px;
        margin-top: 3px;
    }
    .navber p{
        font-size: 38px;
    }
    /* banner */
    .inside{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 425px;
    }
    .shape{
        font-size: 62px;
        line-height: 43.2px;
    }
    .left{
        width: 100%;
    }
    .left h5{
        font-size: 42px;
        line-height: 43.2px;
        margin-top: 12px;
        font-weight: 1200;
    }
    .left p{
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 1px;
        margin-top: -30px;
        width: 300px;
    }
    .button{
        display: flex;
        gap: 10px;
        width: 400px;
    }
    .button-1{
        width: 165px;
    }
    .button-2{
        width: 165px;
    }
    .right{
        width: 100%;
    }
    .right img{
        width: 345px;
        height: 570px;
        margin-left: 35px;
    }
    
    .video-1{
        margin-top: -328px;
        margin-left: 38px;
        width: 180px;
        height: 80px;
    }
    .video-1 i{
        margin-top: -2.5px;
    }
    .video-2{
        margin-top: -280px;
        margin-left: 220px;
        width: 184px;
    }
    /* habits */
    .part-2{
        margin-top: 414px;
    }
    .part-2 h3{
        font-size: 32px;
    }
    .part-2 p{
        font-size: 14px;
        width: 290px;
        margin: 0 auto;
        margin-top: -23px;
    }
    .four-img{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 290px;
       
    }
    .images img{
        width: 158px;
        height: 158px;
        border-radius: 60%;
        border: 2px solid rgba(253, 250, 250, 0.5);
        margin: 0 auto;
        margin-left: 48px;
    }
    .images p{
        width: 250px;
        text-align: center;
        margin: 0 auto;
    }
    /* part 3 styles */
    .extra{
        margin-top: 35px;
        
    }
    .third-part{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
        border-radius: 20px;
        align-items: center;
        padding: 60px 34px 30px 34px;
    }
    /* training style */
    .text{
        margin-top: 80px;
    }
    .text h3{
        font-size: 42px;
    }
    .img-3{
        display: none;
    }
    .img-6{
        display: none;
    }
    .img-part{
        width: 400px;
    }
    .row-1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }
    .img-1{
        width: 100%;
    }
    .absolute1{
        font-size: medium;
        margin-top: -50px;
    }
    .img-2{
        width: 100%;
    }
    .absolute2{
        margin-top: -140px;
        font-size: medium;
    }
    .img-4{
        width: 90%;
    }
    .absolute4{
        position: absolute;
        color: white;
        font-size: medium;
        margin-top: -50px;
        margin-left: 20px;
    }
    .img-5{
        width: 110%;
    }
    .absolute5{
        font-size: medium;
        margin-top: -50px;
        margin-left: 18px;
    }
    /* BMI calculator */
   
    .calculator{ 
        width: 400px;
        margin-top: 90px;
  
    }
    .calculator h3{
        font-size: 42px;
        margin-left: 2px;
    }
    .calculator p{
        margin-top: -35px;
        margin-left: 2px;
    }
    .challange{
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
   
    }

    .chart h3{
        font-size: 22px;
        margin-top: 40px;
    }
    .bmi_cal h3{
        font-size: 22px;
    }
    .bmi_cal p{
        font-size: 16px;
        margin-top: 25px;
    }
    .row3{
        width: 94%;
    }
    i{
        margin-left: 382px;
        margin-top: -23px;
    }
    /* meet section */
    .our-team{
        margin: 0 auto;
        margin-top: 50px;
    }
    .meet{
        text-align: center;
    }
    .meet h3{
        font-size: 42px;
    }
    .meet p{
        width: 250px;
        margin: 0 auto;
        margin-top: -35px;
    }
    .box-4{
        display: none;
    }
    .box-5{
        display: none;
    }
    .box{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 22px;
        margin-top: 50px;
    }
    
    .absolute{
        margin-top: -100px;
        margin-left: 15px;
    }
    .absolute h3{
        font-size: 18px;
    }
    .absolute p{
        margin-top: -20px;
    }
    /* footer area */
    .conclution{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .start-part p{
        width: 350px;
    }
}